# Python virtual environments
.venv/
**/.venv/

# Python bytecode cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/
**/.vscode/

# Ignore any directory with "result" in its name
*result*/
**/*result*/
*output*/
**/*output*/
LW5/example.ipynb
